@media screen and (max-width: 1246px) {
  .gridCard {
    display: grid !important;
    grid-template-columns: repeat(1, auto) !important;
  }
  .card1 {
    height: 95% !important;
  }
  .card {
    width: 100% !important;
  }
  .father {
    width: 100% !important;
  }
}
